.product_txt {
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}

.main_div {
    background-color: aliceblue;
    height: 80px;
}

.root {
    display: flex;
}

.grid {
    padding-left: 56px;
}