.bg {
    background: url(../../images/bg.jpg);
    height: 40.1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7;
    margin: 0 auto;
    padding-top: 10px;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: xxx-large;
}
.elem{
    align-items: center;
    justify-content: center;
    display: flex;
    top: 10%;
}